.Modal {
    width: 40%;
    height:30%;
    position: absolute;
    left: 0;
    right: 0;
    z-index:100;
    border: 2px solid black;
    margin: 0 auto;
    background-color: white;

    
}